body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer {
  margin-top: 30px;
  text-align: center;
}
.cert { 
  border-style: solid;
  border-color: #FFA100;
   margin-top: 5rem;
   padding: 2rem;
   background-color:#79AFFE;
  font-family: 'Balsamiq Sans',cursive;
  font-family: 'Merriweather',serif;
}

